streamlit==1.35.0
reportlab
beautifulsoup4
requests
python-docx
spacy

# spaCy model (direct link)
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
